{{#if success_msg}}{{! if succes do this  hwo to write comment in handlebars}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}