<h1>about page</h1>
<p>This is an App Develope with Node/Express for jotting down of ideas for  future explore.<br>Ideas Rules The world </p>
<p>{{> _js}}</p>
<p>Version: 1.0.0 </p>
<p>&copy;kondipress </p>