<h1>Developer page</h1>
<img class="kondi" src="/img/kondi.jpg" alt="kondi">
<p>This app was developed by <a href="https://www.linkedin.com/in/abdulkadri-idris-91838812a/" target="_blank">idris Abdulkadri</a></p>
