<div class ="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <h3>Save your Ideas To Explore in Future</h3>
    <p class="lead">Jot down ideas you think is great</p>
    <a href="/ideas/add" class="btn btn-info btn-lg"> Add Your Idea</a>
</div>
<h1></h1>

<div class ="jumbotron text-center bg">
    <h1 class="display-4"> Idea Rule The world
</h1>

</div>