<div class ="jumbotron text-center">
    <h1 class="display-3"><marquee>{{title}}</marquee></h1>
    <h3>Save your Ideas To Explore in Future</h3>
    <p class="lead">Jot down ideas you think is great</p>
    <a href="/add" class="btn btn-info btn-lg"> Add Your Idea</a>
</div>
<h1></h1>

<div class ="jumbotron text-center bg">
    <h1 class="display-4"> Idea Rule The world
</h1>

</div>
<div class ="jumbotron text-center bgS">
<img src="/img/ideas.jpg" alt="">
</h1>

</div>

<footer>
    <p class="text-muted small mb-0 text-center">
          Copyright © <a href="https://kadrikondi.github.io">KadriKondi</a> <span id="year">2023</span> &nbsp; With<span style="color: red">
            ♥</span>
        </p>
</footer>
<script>
      let d = new Date();
      dd = d.getFullYear();
      document.getElementById("year").innerHTML = dd;
      console.log("ee" + dd);
    </script>