
{{!-- to output the validation on routes but alredy implement in  partials{{#each errors}}
<div class="alert alert-danger">{{"text"}}</div>

{{else}}

{{/each}}--}}
<h2 class="alert alert-success">add a good idea {{username}} &hearts;</h2>
<div class="card card-body"><h3>Great idea</h3>  

<form action="/ideas" method="post">
<div class="form-group">
<label for="title"> Title</label>
<input type="text" class="form-control" name="title" required>
</div>
<div class="form-group">
<label for="details" >Details</label>
<textarea required spellcheck="true" class="form-control" name="details"></textarea>
</div>
<button type="submit" class="btn btn-info"> Submit</button>
</form>
</div>
