<div class="row">
<div class="col-md-6 mx-auto">
    <div class="card card-body">
        <img  class="logo" src="/public/img/ideadrop1.PNG" alt="ideadrop logo">
  <h3 class="text-center">Account Login</h3>
  <form action="/login" method="post">
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class='form-control' required placeholder="enter your email"name="email">
          
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class='form-control' required placeholder="enter your password" name="password">
          
      </div>
      <button type="submit" class="btn btn-info" name ="submit">Submit</button>
  </form>


    </div>
</div>

</div>