<div class="row">
<div class="col-md-6 mx-auto">
    <div class="card card-body">
        <img  class="logo" src="/img/ideadrop1.png" alt="ideadrop logo">
  <h3 class="text-center">Account Register</h3>
  <form action="/users/register" method="post">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class='form-control' required placeholder="enter your name" name="name" value ={{name}}>
      
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class='form-control' required name ="email" placeholder="enter your email" value="{{email}}">
          
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class='form-control' required placeholder="enter your password" name="password" value ="{{password}}">
          
      </div>
      <div class="form-group">
          <label for="password2"> Confirm Password</label>
          <input type="password" class='form-control' required placeholder="confirm password" name="password2" value="{{password2}}">
          
      </div>
      <button type="submit" class="btn btn-info" name="submit">Submit</button>
  </form>


    </div>
</div>

</div>